{
  "extends": [
    "twilio-ts"
  ],
  "rules": {
    "import/no-unused-modules": "off",
    "import/no-named-as-default-member": "off",
    "prefer-destructuring": "off",
    "@typescript-eslint/ban-ts-ignore": "off",
    "lines-between-class-members": "off",
    "@typescript-eslint/camelcase": "off",
    "@typescript-eslint/ban-ts-comment": "off",
    "@typescript-eslint/ban-types": "off",
    "camelcase": "off",
    "sonarjs/cognitive-complexity": "off"
  }
}
